<%= stylesheet_link_tag "index", :media => "all" %>

<div class="main">
  <div class="container">
    <div class="row">
      <div class="span8">
        <img src="http://www.creativelive.com/sites/default/files/FinalCutProX-640x360.jpg">
      </div>
      <div class="span4">
        <%= render :file => 'users/sessions/new'%>
      </div>
      <div>
      </div>
      <div id="videos">
        <% Course::CATEGORY.each do |category|%>
        <div><%= category%></div>
        <ul class="inline">
          <li>
            <% Course.where(category: category).to_a.each do |course| %>
            <div class="span3">
              <a href="/courses/<%= course.id%>">
                <img src="<%= course.avatar.url%>" class="img-polaroid" target="_blank" id="thumb">
              </a>
            </div>
            <% end %>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
