<%= form_for(@course,:html => { :multipart => true })  do |f| %>
<% if @course.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

  <ul>
    <% @course.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :description %><br />
  <%= f.text_area :description,size: "10x10" %>
</div>

<div class="field">
  <%= f.label :category %><br />
  <%= f.select :category,Course::CATEGORY %>
</div>

<div class="field">
  <%= f.label :avatar %><br />
  <%= f.file_field :avatar %>
</div>

<div class="field">
  <%= f.label :video %><br />
  <%= f.file_field :video %>
</div>

<div class="field">
  <%= f.label :doc %><br />
  <%= f.file_field :doc %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
